body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #E9D5DA;
justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(107, 101, 117, 0.5) ;

}

.navLink{
    font: Arial;
    list-style: none;
}
.top-border {
    font-size: xx-large;
    size: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-self: center;
    position: relative;
    text-align: center;
    border: 10px solid rgb(54, 48, 98, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

.centered {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* styling for forms */
.input_form {
    width: 50%;
    margin:20px;

}

.form_row {
    display: flex;
    justify-content: space-between;
    
}

table {
    width:100%;
    text-align: left;
}

  /* Define CSS classes for alternating table row shading */
  .table-striped {
    width: 100%;
    border-collapse: collapse;
  }

  .table-striped th, .table-striped td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  /* Define background colors for even and odd rows */
  .table-striped tr:nth-child(even) {
    background-color: rgba(182, 173, 198, 0.5) ; /* Light gray for even rows */
  }

  .table-striped tr:nth-child(odd) {
    background-color: rgba(103, 98, 112, 0.5) ; /* White for odd rows */
  }

.submit_button{
    background: rgb(130, 115, 151, 0.5);
    color: #000;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    justify-self: right;
}

.delete-form{
    padding:0%;
    margin: 0%;
}

.footer {
    grid-template-areas: 'myArea myArea . .' 'myArea myArea . .';
    display: grid;
    margin: 20px;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    column-gap: 25px;
}

.single_picture {
    margin: 8px;
    Padding: 20px;
    overflow: hidden;
}

.img {
    height: 200px;
    max-width: 100%;     /* Set the max-width property to 100% */
    margin: 20px,20px,20px,20px;
    border: 5px solid rgb(54, 48, 98, 0.5)
    }

.copyright {
    text-align: center ;
    color: white;
    font-size: xx-small;
    background-color: rgb(77, 76, 125, 0.8) ;

}

.btn {
    background: rgb(130, 115, 151, 0.5); 
    border-radius: 4px;
    color: black; 
    border: 2px solid #f44336;
    padding: 0.5rem;
}

.btn:hover {
    background-color: #f44336;
    color: white;
  }