<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>{{ title }} - CC Gym Admin </title>
    </head>
    <body>
        <header>
        <ul>
            <li class="navLink"><a href="/">Home</a></li>
        </ul>
        <ul>
            <li class="navLink"><a href="/sessions" >Gym Sessions</a></li>
        </ul>
        <ul>
            <li class="navLink"><a href="/members" >Members</a></li>
        </ul>
        <ul>
            <li class="navLink"><a href="/bookings" >Bookings</a></li>
        </ul>
    </header>
    <hr>
        {% block content %}


        {% endblock %}
    </body>

    
    <p class = "copyright"  >Copyright CC Gym Admin. Author: Becky Entwistle</p>
    <hr>
</html>
