{% extends "base.jinja" %}


{% block content %}

<div class = top-border>
    <div class="centered"><strong>Bookings Admin</strong></div>
    <img src="{{ url_for('static', filename='thai boxers sparring.jpg') }}" alt = "thai boxers sparring" style='width:100%;'>
</div>
<hr>
<p></p>
<a href = "bookings/new" > Add new booking</a> 
<p></p>


<table class=table-striped>
  <tr >
    <th>Session</th>
    <th>Name</th>
    <th>Premium</th>
    {# <th>Cancel </th> #}
  </tr>

<div class = "booking-container">
{% for booking in bookings %}

<tr>
    <td>{{ booking.session.name }} </td>
    <td>{{ booking.member.first_name}} {{ booking.member.last_name}}</td> 
    <td>{% if booking.session.premium_session == True %}
            Yes
        {% else %}
            <i> - </i>
        {% endif %}</td>
    {# <td><button class = submit_button type="submit">X</button></td> #}
    {# To do - button will delete booking from bookings table when connected #}
</tr>
{% endfor %}

</table>
</div>

{% endblock %}
