{% extends "base.jinja" %}


{% block content %}

<div class = top-border>
    <div class="centered"><strong>Bookings Admin</strong></div>
    <img src="{{ url_for('static', filename='thai boxers sparring.jpg') }}" alt = "thai boxers sparring" style='width:100%;'>
</div>
<hr>
<p></p>
<a href = "bookings/new" > Add new booking</a> 
{# <form action="/bookings/booked_members" method="post">
    <label class = label for="session">Select a session</label>
        <select name="session" id="session">
            {% for session in sessions%}
                <option value = "{{ session.id}}" >{{ session.name}} </option>
            {% endfor %}
        </select>
    <button type="submit">View session bookings</button> #}
        {# <input class = view_session_bookings type="submit" value="View Session Bookings" style="font-weight: bold;"> #}
</form>

<p></p>
<hr>

<div class = "booking-container">
{% for booking in bookings %}

<div class = "booking">
<p> Member - {{ booking.member.first_name}} {{ booking.member.last_name}} </p>
<p> Session -  {{ booking.session.name }} </p>

</p>
</p>
<hr>
</div>

{% endfor %}
</div>

{% endblock %}
