{% extends "base.jinja" %}

{% block content %}
<h1>Add a new booking: </h1>
<a class = add_booking_area >
    <form class = form-inline-add action="/bookings/new" method="post"> 

    <label class = label for="session">Select a session</label>
        <select name="session_id" id="session">
            {% for session in sessions%}
                <option value = "{{ session.name}}" >{{ session.name}} </option>
            {% endfor %}
        </select>

    <label class = label for="member">Select a member</label>
        <select name="member_id" id="member">
            {% for member in members%}
                <option value = "{{ member_id}}">{{member.first_name}} {{member.last_name}}</option>
            {% endfor %}
        </select>

    <label class = label for="permium_member">Premium member?</label>
    <input type="checkbox" name="premium_member" id="premium_member" >

    <input class = add_session type="submit" value="Add Session" style="font-weight: bold;">
    </form>
    </a>



{% endblock %}