{% extends "base.jinja" %}


{% block content %}
<div class = top-border>
    <div class="centered"><strong>Members Admin</strong></div>
    <img src="{{ url_for('static', filename='yoga mat.jpg') }}" alt = "yoga mat" style="width: 100%;" object-fit: none;>
</div>
<hr>
<p></p>
<a href = "members/new" > Add new member</a> 
<p></p>
<hr>

<table>
  <tr >
    <th>First Name</th>
    <th>Last Name</th>
    <th>Premium Member?</th>
    <th>Details </th>
  </tr>

<div class = "member-container">
{% for member in members %}
<tr >
    <td>{{ member.first_name}}</td>
    <td>{{member.last_name}}</td>
    <td>{% if member.premium_member == True %} Yes {% else %} No {%endif%} </td>
    <td><a href = "/members/{{ member.id }}" > Show details </a></td>
</div>

{% endfor %}
</div>


</table>
{% endblock %}

