{% extends "base.jinja" %}


{% block content %}
<div class = top-border>
    <div class="centered"><strong>Members Admin</strong></div>
    <img src="{{ url_for('static', filename='yoga mat.jpg') }}" alt = "yoga mat" style='width:100%;'>
</div>
<hr>
<p></p>
<a href = "members/new" > Add new member</a> 
<p></p>
<hr>


<div class = "member-container">
{% for member in members %}

<div class = "member">
<h3>Name - {{ member.first_name }} {{member.last_name}} </h3>
{# <p> Postcode - {{ member.postcode }} </p>
<p> Premium Member? - 
        {% if member.premium_member == True %}
            Yes
        {% else %}
            <i> No </i>
        {% endif %} </p> #}
<a href = "/members/{{ member.id }}" > Show details </a> <hr>

</div>

{% endfor %}
</div>

{% endblock %}

