{% extends "base.jinja" %}

{% block content %}

<body>
    <h1 class="single_member"> Member details for </h1> 
    <div>
        <h3>First Name: {{ member.first_name }} {{ member.last_name }}</h3>
        <p> Postcode: {{ member.postcode  }} </p>
        <p>Premium Member: {{ member.premium_member  }}</p>

    </div>
    <a href = "/all_members"> Back to all members</a>
</body>

{% endblock %}